{% extends 'base.html' %} {% block title %} Обновление расходов {% endblock %} {% block body %}
<div class="container mt-5">
    <h1>Обновление расхода</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Название"><br>
        <input type="number" name="price" id="price" class="form-control" value="{{ article.price }}" placeholder="Цена"><br>
        <input type="submit" class="btn btn-success" value="Сохранить"><br>
    </form>

</div>
{% endblock %}